$base-font:Arial,
Geneva,
Helvetica;
$color:#999;
$link:#3700cc;
$font-size-36px:2.25rem;
$font-size-30px:1.875rem;
$font-size-24px:1.5rem;
$font-size-22px:1.375rem;
$font-size-21px:1.3125rem;
$font-size-20px:1.25rem;
$font-size-19px:1.1875rem;
$font-size-18px:1.125rem;
$font-size-17px:1.0625rem;
$font-size-16px:0.9375rem;
$font-size-15px:0.9375rem;
$font-size-14px:0.875rem;
$font-size-13px:0.8125rem;
$font-size-12px:0.75rem;
$font-size-11px:0.6875rem;
@mixin media($media) {
	@media only screen and (max-width: $media) {
		@content;
	}
}

@mixin text-decoration {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #989b9d;
	height: 1px;
	transition: all 0.4s;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	td {
		padding: 0;
		margin: 0;
	}
}

// для ul
@mixin i-b {
	font-size: 0;
	letter-spacing: -1px;
	line-height: 0;
}

// для li
@mixin i-b-dis {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	vertical-align: top;
	display: inline-block;
}

// задавать только для ul
@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

*:focus {
	outline: none;
}

::-webkit-input-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	opacity: 1;
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

button::-moz-focus-inner {
	border: none;
}

html {
	font-size: 100%;
	font: 1rem $base-font;
}

body {
	color: $color;
	margin: 0;
	min-width: 320px;
	position: relative;
	-webkit-text-size-adjust: none;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $link;
	&:hover {
		text-decoration: underline;
	}
	&:active,
	&:focus {
		outline: none;
	}
}

a:active {
	background-color: transparent;
}



input[type=search],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=email] {
	width: 300px;
	height: 45px;
	border: 1px solid #020202;
	background-color: #fff;
	margin: 0 auto 15px;
	font: 16px/24px $base-font, Geneva, Helvetica;
	color: #000;
	padding: 12px 19px;
	vertical-align: middle;
}

input[type=button],
input[type=submit] {
	width: 300px;
	height: 45px;
	border: 1px solid #020202;
	background-color: #ffda2d;
	font: 26px $base-font, Geneva, Helvetica;
	transition: .3s;
	margin: 0 auto 15px;
	padding: 0;
}

input[type=submit]:hover {
	background-color: #40c9d5;
}

textarea:invalid,
input:invalid {
	box-shadow: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}

body input:required:valid,
body textarea:required:valid {
	color: green;
}

.hidden {
	display: none;
}

textarea {
	font: 12px Arial, Helvetica, Verdana;
}

form {
	margin: 0;
	padding: 0;
}

img {
	border-style: none;
	height: auto;
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}

main,
header,
nav,
section,
article,
aside,
figure,
figcaption,
footer {
	display: block;
}

.wrapper:after,
.clearfix:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
}

.hidden {
	display: none;
}

.pull-left {
	float: left;
	margin-right: 9px;
}

.pull-right {
	float: right;
	margin-left: 9px;
}

//для картинок wp
.alignleft {
	float: left;
	margin: 0 11px 3px 0;
}

.alignright {
	float: right;
	margin: 0 0 3px 11px;
}

.aligncenter {
	display: block;
	margin: 0 auto 22px;
}

// media развилка
.media-test {
	color:#000;
	@include media(222px) {
		background: red;
	}
}